<html>
    <head>
        <title>hunhun's blog</title>

    </head>

    <body>
        <div>
            <h1> <a href="">Django Girls Blog</a> </h1>
        </div>

        <div>
            <p>published: 2016/5/8 15:30</p>
            <h2><a href="">我的 first post</a> </h2>
            <p>复制的：Aenean eu leo quam. Pellentesque ornare sem lacinia quam <br>
                vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac
                cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>

        <div>
            <p>published: 2016/5/7 15:33</p>
            <h2><a href="">My second post</a> </h2>
            <p>我们已经创建了三个不同的 div 部分。</p>
        </div>
    </body>

</html>