<!--此post_list会从视图views.py中获得所需-->

<!--以下extend意味着我们在 post_list.html模板文件中扩展
    了 base.html 模板的内容-->
{% extends 'blog/base.html' %}


{% block content %}
    {% for post in posts %}
        <div class="post">
            <!--post.xxx用于访问Post类中的相应域-->
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p> <!--|linebreaks通过一个过滤器，使得行间隔编程段落-->
        </div>
    {% endfor %}
{% endblock  %}